name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  next_lint:
    name: Next Lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [20]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: "npm"
          cache-dependency-path: frontend/package-lock.json
      - name: Install dependencies
        run: npm ci
        working-directory: frontend
      - name: Run lint
        run: npm run lint
        working-directory: frontend